@model TeaShopAPI.UI.Dtos.AboutDtos.UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="AboutID" />
    <label>Başlık Giriniz</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama Giriniz</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Resim Linkini Giriniz</label>
    <input type="text" asp-for="ImageURl" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

