
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body class="">
	<!-- [ Pre-loader ] start -->
	@await Component.InvokeAsync("_AdminLayoutLoaderAndNavbarComponentPartial")

	@await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")

	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Sample Page</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Sample Page</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			@RenderBody()

		</div>
	</div>

	@await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")

</body>

</html>
