@model TeaShopAPI.UI.Dtos.QuestionDtos.UpdateQuestionDto
@{
    ViewData["Title"] = "UpdateQuestion";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="QuestionID" />
    <label>Sorunuzu Yazınız</label>
    <input type="text" asp-for="QuestionDetail" class="form-control" />
    <br />
    <label>Cevabınızı Yazınız</label>
    <input type="text" asp-for="AnswerDetail" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

