@model TeaShopAPI.UI.Dtos.ReservationDtos.CreateReservationDto
@{
    ViewData["Title"] = "Index";
    Layout =null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tea Shop | UI</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/teab-1.0.0/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/teab-1.0.0/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/teab-1.0.0/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/teab-1.0.0/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/teab-1.0.0/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/teab-1.0.0/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/teab-1.0.0/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body style="background-image:url('https://wallpapers.com/images/hd/tea-background-vhrge4i9pf568f08.jpg'); background-repeat:no-repeat;  background-size: cover;">
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="index.html"><img src="~/teab-1.0.0/images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/UIDefault/Index/">Ana Sayfa</a>
                    <a class="nav-item nav-link" href="/UIRezervation/Index/">Rezervasyon</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container" style="color:white;">
        <div class="row justify-content-center align-items-center" style="min-height: 72.5vh;">
            <div class="col-md-6">
                <form method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="NameSurname">Ad Soyad</label>
                                <input type="text" asp-for="NameSurname" class="form-control" id="NameSurname" placeholder="Ad Soyad">
                            </div>
                            <div class="form-group">
                                <label for="PersonCount">Kişi Sayısı (1-15)</label>
                                <input type="number" asp-for="PersonCount" class="form-control" id="PersonCount" min="1" max="15" placeholder="Kişi Sayısı">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="TableNo">Masa Numarası</label>
                                <input type="number" asp-for="TableNo" class="form-control" id="TableNo" min="0" max="20" placeholder="Masa Numarası">
                            </div>
                            <div class="form-group">
                                <label for="ReservationTime">Rezervasyon Zamanı</label>
                                <input type="date" asp-for="ReservationTime" class="form-control" id="ReservationTime">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button class="btn btn-success" style="color:white; margin-left:180px">Rezervasyon Yap</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>







    <script src="~/teab-1.0.0/js/jquery.min.js"></script>
    <script src="~/teab-1.0.0/js/popper.min.js"></script>
    <script src="~/teab-1.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/teab-1.0.0/js/jquery-3.0.0.min.js"></script>
    <script src="~/teab-1.0.0/js/plugin.js"></script>
    <script src="~/teab-1.0.0/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/teab-1.0.0/js/custom.js"></script>
    <script src="~/teab-1.0.0/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
            });
        });
    </script>
</body>
</html>

