@model List<TeaShopAPI.UI.Dtos.TestimonialDtos.ResultTestimonialDto>

<div class="clients_section layout_padding">
    <div id="custum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach(var item in Model)
            {
                <div class="carousel-item @(item.TestimonialID == 2 ? "active" : "")">
                    <div class="container">
                        <h1 class="clients_taital">Müşterilerimizin Referansları</h1>
                        <p class="clients_text">
                            @item.TestimonialComment
                        </p>
                        <div class="client_img"><img style="width:80px; height:80px; border-radius:50%" src="@item.TestimonialImageURL"></div>
                        <h1 class="louis_text">@item.TestimonialName</h1>
                        <div class="border"></div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>