@model TeaShopAPI.UI.Dtos.DrinkDtos.UpdateDrinkDto
@{
    ViewData["Title"] = "UpdateDrink";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="drinkID" />
    <label>İçecek Adını Giriniz</label>
    <input type="text" asp-for="drinkName" class="form-control" />
    <br />
    <label>İçecek Fiyatını Giriniz</label>
    <input type="text" asp-for="drinkPrice" class="form-control" />
    <br />
    <label>İçecek Resim Linkini Giriniz</label>
    <input type="text" asp-for="drinkImageURL" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

