
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
@await Component.InvokeAsync("_UIDefaultAboutComponentPartial")

@await Component.InvokeAsync("_UIDefaultDrinkListComponentPartial")

<div class="choose_section">
    <div class="container">
        <h1 class="choose_taital">Neden Bizi Seçmelisiniz?</h1>
        <p class="choose_text">
            Teashop'u tercih etmelisiniz çünkü benzersiz çay çeşitlerimiz ve rahatlatıcı atmosferimizle deneyimlerinizi unutulmaz kılıyoruz.
        </p>
        <div class="choose_section_2">
            <div class="choose_left">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-1.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">88%<br><span class="satisfied_text_1">Mutlu Müşteri Oranımız</span></h1>
                </div>
            </div>
            <div class="choose_middle">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-2.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@ViewBag.drinkCount<br><span class="satisfied_text_1">İçecek Sayımız</span></h1>
                </div>
            </div>
            <div class="choose_middle_1">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-3.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">2301<br><span class="satisfied_text_1">Müşteri Sayımız</span></h1>
                </div>
            </div>
            <div class="choose_right">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-4.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">@ViewBag.maxPriceDrinkName<br><span class="satisfied_text_1">En Pahalı İçeceğimiz</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_UIDefaultOurTeaShopComponentPartial")

@await Component.InvokeAsync("_UIDefaultQuestionsComponentPartial")

@await Component.InvokeAsync("_UIDefaultTestimonialCompanentPartial")




