@model List<TeaShopAPI.UI.Dtos.SliderDtos.ResultSliderDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Slider İşlemleri</h5>
				<div class="card-header-right">
					<div class="btn-group card-option">
						<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="feather icon-more-horizontal"></i>
						</button>
						<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
							<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
							<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
							<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
							<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-borderless">
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Resim</th>
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.SliderID</td>
							<td>@item.Title</td>
							<td>@item.ImageURL</td>
							<td><a href="/Admin/Slider/DeleteSlider/@item.SliderID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Slider/UpdateSlider/@item.SliderID" class="btn btn-outline-success">Güncelle</a></td>
						</tr>
					}
				</table>
				<a href="/Admin/Slider/CreateSlider/" class="btn btn-outline-success">Slider Ekle</a>
			</div>
		</div>
	</div>
</div>