@model List<TeaShopAPI.UI.Dtos.ReservationDtos.ResultReservationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Rezervasyon İşlemleri</h5>
				<div class="card-header-right">
					<div class="btn-group card-option">
						<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="feather icon-more-horizontal"></i>
						</button>
						<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
							<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
							<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
							<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
							<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-body" style="height: 450px; overflow-x: hidden; overflow-y: scroll;">
				<table class="table table-borderless">
					<tr>
						<th>#</th>
						<th>Ad Soyad</th>
						<th>Kişi Sayısı</th>
						<th>Masa Numarası</th>
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.ReservationID</td>
							<td>@item.NameSurname</td>
							<td>@item.PersonCount</td>
							<td>@item.TableNo</td>
							<td><a href="/Admin/Reservation/DeleteReservation/@item.ReservationID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Reservation/UpdateReservation/@item.ReservationID" class="btn btn-outline-success">Güncelle</a></td>
						</tr>
					}
				</table>
			</div>
			<br />
			<a href="/Admin/Reservation/CreateReservation/" class="btn btn-outline-success">Rezervasyon Ekle</a>

		</div>
	</div>
</div>

