@model TeaShopAPI.UI.Dtos.ReservationDtos.UpdateReservationDto
@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ReservationID" />
    <label>Ad Soyad</label>
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />
    <label>Kişi Sayısı</label>
    <input type="text" asp-for="PersonCount" class="form-control" />
    <br />
    <label>Masa Numarası</label>
    <input type="text" asp-for="TableNo" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

