@model TeaShopAPI.UI.Dtos.SubscribeDtos.CreateSubscribeDto

<form method="post">
    <div class="newsletter_right">
        <h5 class="newsletter_taital">Çayın kokusunu al</h5>
        <div class="subscribe_main">
            <input type="text" class="mail_text" placeholder="Email adresinizi giriniz" asp-for="Email">
            <div class="subscribe_bt"><button style="background-color:#262626; color:orange;">Abone Ol</button></div>
        </div>
    </div>
</form>